<% provide(:title, 'Translation history') %>
<h1>Translation history</h1>
<%= will_paginate @translations %>
<table id="history" class="table table-bordered table-striped">
  <tr>
    <th>Time</th>
    <th>Input language</th>
    <th>Output language</th>
    <th>Input text</th>
    <th>Output text</th>
  </tr>
  <% @translations.each do |translation| %>
      <tr>
        <td><%= translation.created_at.strftime('%d.%m.%Y %H:%M:%S') %></td>
        <td><%= YandexWrapper.lang_decode(translation.input_lang) %></td>
        <td><%= YandexWrapper.lang_decode(translation.output_lang) %></td>
        <td><%= translation.input %></td>
        <td><%= translation.output %></td>
      </tr>
  <% end %>
</table>
<%= will_paginate @translations %>