<%= form_tag("/", id: "tr", method: "post") do%>
<% end %>

<div class="row">
  <div class="col-xs-6 form-group">
      <%= text_area_tag(:input, value=params[:input], form:"tr", class:'form-control') %>
  </div>

  <div class="col-xs-6 form-group">
    <%= text_area_tag(:output, value=@out, readonly:true, class:'form-control') %>
  </div>
</div>

<div class="row row-centered">
  <div class="col-centered">
    <%= select_tag(:input_lang,
                   options_for_select([['Auto', '']] + @lang_list, params[:input_lang]),
                   form:"tr",
                   class:'selectpicker form-control') %>
  </div>
  <div class="col-centered">
    <%= select_tag(:output_lang,
                   options_for_select(@lang_list, params[:output_lang]),
                   form:"tr",
                   class:'selectpicker form-control') %>
  </div>
</div>

<div class="row row-centered">
  <div class="col-centered">
    <%= submit_tag("Translate", form:"tr", class:'btn btn-primary') %>
  </div>
</div>

