<%= form_tag("/", id: "tr", method: "post") %>

<div class="row">
  <div class="col-md-6 col-sm-6 form-group">
      <%= text_area_tag(:input, value=@inp, form:"tr", class:'form-control') %>
  </div>

  <div class="col-md-6 col-sm-6">
    <%= text_area_tag(:output, value=@out, readonly:true, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-4 col-sm-2 col-sm-offset-4">
    <%= select_tag(:input_lang,
                   options_for_select([['Auto', '']] + @lang_list, @inp_lang),
                   form:"tr",
                   class:'selectpicker form-control') %>
  </div>

  <div class="col-md-2 col-sm-2">
    <%= select_tag(:output_lang,
                   options_for_select(@lang_list, @out_lang),
                   form:"tr",
                   class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5 col-sm-2 col-sm-offset-5">
    <%= submit_tag("Translate", form:"tr", class:'btn btn-primary') %>
  </div>
</div>

