<%= form_tag("translate", id: "tr", method: "post") %>

<div class="row">
  <div class="col-md-6 form-group">
      <%= text_area_tag(:input, value=@inp, form:"tr", class:'form-control') %>
  </div>

  <div class="col-md-6">
    <%= text_area_tag(:output, value=@out, form:"tr", readonly:true, class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-4">
    <%= select_tag(:input_lang,
                   options_for_select([['Auto', ''], ['Russian', 'ru'], ['English', 'en'], ['German', 'de'], ['French', 'fr']], @inp_lang),
                   form:"tr",
                   class:'selectpicker form-control') %>
  </div>

  <div class="col-md-2 ">
    <%= select_tag(:output_lang,
                   options_for_select([['Russian', 'ru'], ['English', 'en'], ['German', 'de'], ['French', 'fr']], @out_lang),
                   form:"tr",
                   class:'form-control') %>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <%= submit_tag("Search", form:"tr", class:'form-control') %>
  </div>
</div>

